

  
h2{
        text-align: center;
        color: transparent;
        font-weight: 800;
        font-size: 2rem;
        letter-spacing: 3px;
        text-transform: uppercase;
        background-image: linear-gradient(to bottom, #ffffff, #ccd0ca);
        background-clip: text;
}







