

footer{
    margin-top: 3rem;
    color: #0eb119b6;
    padding: 10px;
    background-color: #1c1d33;
    border-radius: 10px 10px 0 0;
}

.section-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;


    & span{
        margin: 2rem;
        font-weight: bolder;
        letter-spacing: 3px;
        font-size: 1.5rem;
    }

    & h3{
        font-size: 1rem;
        padding-top: 3rem;
    }

    

   

    

    }

    .footer-links{

        & a {
            color: #0eb119e7;
            margin: 15px;
            transition: all .5s ease-in;
            
            & :hover {
                color: #838385;
                transform: translateY(-2px);
            }
        }
    }

    
     
      
    

   

   
